.heading-additems {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}
#head-additems {
  font-size: 1.8em;
}
#subheading-additems {
  font-size: 18px;
  margin-top: 10px;
}
#content1-additems {
  width: 90%;
  margin: auto;
}
.form-additems {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54%;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 60px;
  flex-direction: column;
}
.box-additems {
  width: 98.5%;
  height: 2.8rem;
  position: relative;
  bottom: 10px;
  border: 0;
  border-radius: 5px;
}
#option1-additems select {
  width: 98.5%;
  height: 2.7em;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
  border: 0;
}
/* #content2-additems {
  margin-top: 10px;
}
#context2-additems textarea {
  width: 98.5%;
  height: 125px;
  position: relative;
  bottom: 17px;
} */
.btn-additems {
  width: 98.5%;
  height: 3rem;
  position: relative;
  top: 11px;
  background-color: rgb(18, 219, 78);
  border: none;
  color: rgb(255, 255, 2555);
  margin-bottom: 10px;
  cursor: pointer;
}
/* textarea::placeholder {
  font-size: 1.4em;
  position: relative;
  top: 8px;
  left: 5px;
  width: 70%;
} */